@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/bundles/style")
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/favicon.ico" />
    @Scripts.Render("~/bundles/vendor")

</head>
<body class="container-fluid">
    <div class="col-md-2"></div>
    <div class="col-md-8 row">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span></a></li>
        </ul>
        @RenderBody()
    </div>
    <div class="col-md-2"></div>
</body>
</html>